ACCOUNT_URL=https://account.example.com/
AUTH_APPS=[{"app_id":"service","callback_url":"https://app.example.com/_auth/callback"}]
DOMAIN_NAME=example.com

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_PUBLIC_KEY=
DISCORD_GUILD_IDS=
DISCORD_BOT_TOKEN=
LOCAL_DISCORD_ID=

SESSION_KID=2026-04
CSRF_KID=2026-04

SESSION_HMAC_SECRET=
APP_SESSION_HMAC_SECRET=
CSRF_HMAC_SECRET=
OTP_HMAC_SECRET=
