ACCOUNT_URL=http://localhost:8787/ # URL文字列、auth/account WorkerのURL
AUTH_APPS=[{"app_id":"service","callback_url":"http://localhost:8789/_auth/callback"}] # JSON配列文字列、認可するapp一覧
LOCAL_DOMAIN_NAME=localhost # ドメイン文字列、ローカルCookieドメイン

DISCORD_CLIENT_ID= # 文字列、Discord OAuth2 client ID
DISCORD_CLIENT_SECRET= # 文字列、Discord OAuth2 client secret
DISCORD_PUBLIC_KEY= # 文字列、Discord Interaction署名検証用public key
DISCORD_GUILD_IDS= # カンマ区切り文字列、認証対象DiscordサーバーID
DISCORD_BOT_TOKEN= # 文字列、OTP DM送信用Bot token
LOCAL_DISCORD_ID= # 文字列、ローカルseed対象Discord user ID

SESSION_KID=2026-04 # 文字列、account/appセッション署名key ID
CSRF_KID=2026-04 # 文字列、CSRF署名key ID

SESSION_HMAC_SECRET= # 文字列、accountセッション署名secret
APP_SESSION_HMAC_SECRET= # 文字列、appセッション署名secret
CSRF_HMAC_SECRET= # 文字列、CSRF署名secret
OTP_HMAC_SECRET= # 文字列、OTPハッシュ用secret
